* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;width: 100%;
  padding: 20px 10%;
  background: rgba(49, 23, 3, 0.649) transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}


.logo {
  font-size: 25px;
  color: darkblue;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(44, 95, 143);
}

.home {
  height: 100vh;
  background: linear-gradient(-90deg, #031540 65%, #fff 35%);
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background: #031542;
  border-radius: 50%;
  border: 25px solid #fff;
}

.home-image img {
  border-radius: 50%;
  bottom: 16px;
  position: relative;
  max-width: 280px;
}

.home-content {
  max-width: 600px;
  color: #fff;
  text-align: right;
}

.home-content h1 {
  font-size: 55px;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 28px;
  color: #031540;
  -webkit-text-stroke: .6px #000;
}

.home-content p {
  font-size: 18px;
  margin-top: 20px;
}

h1 {
  text-align: center;
}